.section {
  background-color: #2c3bdd;
  color: white;
  & * { color: white; }
}

.section.inverse {
  background-color: var(--qc-color-light);
  color: black;
  & * { color: black; }
}

.count {
  font-size: 3rem;
  font-weight: bold;

  &::after {
    content: ' +';
    color: var(--qc-color-dark-gold);
  }
}

.description {
  color: var(--qc-color-light-blue);
}
.section.inverse .description {
  color: var(--qc-color-text) !important;
}
