.image {
  width: 30%;
  height: auto;
  // @media screen and (min-width: 576px) { width: 135px; }
  // @media screen and (min-width: 768px) { width: 135px; }
  // @media screen and (min-width: 992px) { width: 135px; }
  @media screen and (min-width: 1200px) { width: 162px; }
  @media screen and (min-width: 1400px) { width: 190px; }
}

