.aboutPage {
  .years {
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    color: var(--qc-color-dark-gold);
  }
  .howYoullLearn { margin-bottom: -12.5%; }
  .goldIcon {
    color: var(--qc-color-dark-gold);
    margin-bottom: 1rem;
  }
}