.price {
  margin-bottom: 1rem;

  .originalPrice {
    font-size: 1.25rem;
    font-weight: 500;
    color: #aaa;
    margin-right: 0.75rem;
  }
  
  .discountedPrice {
    font-size: 2rem;
    font-weight: 700;
    color: var(--bs-heading-color);
  }
}