.courseCard {
  color: inherit;
  .courseCardBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1.5rem;
    @media only screen and (max-width: 575px) {
      padding-bottom: 0.5rem;
    }
  }

  .imageWrapper {
    position: relative;
    height: 140px;
    @media only screen and (min-width: 576px)  { height: 160px; }
    @media only screen and (min-width: 768px)  { }
    @media only screen and (min-width: 992px)  { }
    @media only screen and (min-width: 1200px)  { }
    @media only screen and (min-width: 1400px)  { }
  }

  .imageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    border-top-left-radius: var(--bs-card-border-radius);
    border-top-right-radius: var(--bs-card-border-radius);
  }

  .overlayContent {
    position: absolute;
    top: 50%;
    left: 1rem;
    right: 1rem;
    transform: translate(0, -50%);
    @media only screen and (min-width: 576px) {
      left: 2rem;
      right: 2rem;
    }
    h2 { color: white; text-shadow: 1px 1px 0 rgba(0,0,0,0.5) }
  }

  .message {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff224a;
    color: white;
    border-top-right-radius: calc(var(--bs-card-border-radius) - 1px);
    border-bottom-left-radius: calc(var(--bs-card-border-radius) - 1px);
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  .textLink {
    white-space: nowrap;
    text-decoration: none;
    color: inherit;
    font-weight: bold;
  }
}