section {
  position: relative;
  overflow: hidden;
  padding: var(--qc-section-padding) 0;
}

section.half-padding-top {
  padding: calc(var(--qc-section-padding) / 2) 0 var(--qc-section-padding); // reduce 
}   

section > div.container {
  position: relative; /* so that if we use a cover image, the content will display on top */
}

section.noPadding {
  padding-top: 0;
  padding-bottom: 0;
}

section.noPadding > div.container {
  padding-left: 0;
  padding-right: 0;
}

/* override the section that react-toastify uses */
section.Toastify {
  padding: 0;
}

.grecaptcha-badge { visibility: hidden; }

@import 'react-multi-carousel/lib/styles.css';

.react-multi-carousel-dot button {
  border: 0;
  background-color: #bcbccb;
}

.react-multi-carousel-dot--active button {
  background-color: #02013f;
}

.react-multi-carousel-dot-list {
  position: initial;
}
.react-multi-carousel-list .react-multi-carousel-dot-list {
  position: absolute;
}
