.button {
  background-color: white;
  color: black;

  &:hover {
    background-color: rgba(250, 250, 250, 0.8);
  }
}

.icon {
  display: inline-block;
  position: relative;
  top: -1.5px;
  margin-left: 0.625rem;
}
