.learnMore {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 0.875rem;
  font-weight: bold;
}

.learnMore:link { color: white; }
.learnMore:visited { color: white; }
.learnMore:hover { color: yellow; }
