.backgroundColorGrey {
  background-color: #F2F2F8;
}

.imageContainer {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.mainImage {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  object-fit: contain;
}

.moneyBackHeader {
  font-size: 1.125rem;
  color: var(--qc-color-dark-gold);
  text-transform: uppercase;
}